@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********** NAV BAR CSS **********/
.nav_items {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  transition: all 0.4s;
}
.menu > ul {
  list-style: none;
  display: flex;
}
.menu > ul > li > a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  color: #38447e;
  transition: all 0.4s;
  border-radius: 5px;
}
.menu > ul > li > a:hover {
  border-bottom: 1px solid #0f1a45;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.logo {
  font-family: "Roboto", sans-serif;
  color: #38447e;
  font-weight: 900;
  font-size: 1.5rem;
}
.buy_Button {
  background: #fff5f500;
  color: #0f1a45;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #0f1a45;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.buy_Button:hover {
  background: #101b47;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.buy_Button:active {
  transform: translateY(4px);
}
.hamburger_Menu i {
  font-size: 2rem;
  cursor: pointer;
}
#mobileNav {
  transform: translateX(0);
}
/********** HERO CSS **********/
.hero_Container {
  max-width: 1300px;
  margin: auto;
}
.hero_Items {
  display: flex;
}
.hero_Background {
  width: 62%;
  max-width: 1000px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
}
.hero_Text {
  width: 43%;
  padding-top: 8rem;
}
.hero_Text > h1 {
  color: #00092b;
}
.hero_Text > p {
  color: #505f98;
}
button.btn1 {
  width: 10rem;
  border: 2px solid black;
  background: #0f1a45;
  color: #fff;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}
button.btn1:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
button.btn1:active {
  transform: translateY(4px);
}
button.btn2 {
  width: 10rem;
  border: 2px solid #101b47;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  border-radius: 4px;
  background: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
button.btn2:hover {
  background: #0f1a45;
  color: #fff;
}
button.btn2:active {
  transform: translateY(4px);
}
/********** SECTION1 CSS **********/
.section1_Container {
  max-width: 1300px;
  margin: auto;
}
.subDiv1 > img {
  width: 50px;
}
.subDiv2 > img {
  width: 50px;
}
.sec1_Text {
  width: 43%;
  z-index: 55;
}
.sec1_Text > span > h1 {
  color: #00092b;
}
.sec1_Text > span > p {
  color: #505f98;
}
.subDiv1 > h5,
.subDiv2 > h5 {
  color: #00092b;
}
.subDiv1 > p,
.subDiv2 > p {
  color: #000000;
}
img.sec1_Background {
  position: absolute;
}
.subDiv {
  display: flex;
  margin-top: 5rem;
}
/********** SECTION2 CSS **********/
.section2_Container {
  max-width: 1300px;
  margin: auto;
}
.sec2_Text > h1 {
  color: #00092b;
}
.sec2_Text > p {
  color: #505f98;
}
/********** PURPLANE CSS **********/
.purchPlane {
  background: #f2f6ff;
}
.purchPlane_Container {
  max-width: 1300px;
  margin: auto;
  text-align: center;
}
.purchPlane_Items {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.purchPlane_Text {
  width: 50%;
  margin: auto;
  line-height: 2rem;
}
.purchPlane_Text > h1 {
  color: #00092b;
}
.purchPlane_Text > p {
  color: #505f98;
  margin-bottom: 5rem;
}
.purchPlane_Text > span {
  color: #222f64 !important;
}
.purchPlane_Text > span > span {
  color: #505f98;
}
.purBtnBox {
  margin-top: 5rem;
}
/********** FOOTER CSS **********/
.footer {
  background: #e7ecff;
}
.footer_Container {
  max-width: 1190px;
  margin: auto;
}
.footer_Sec1 {
  justify-content: space-between;
  padding: 2rem;
}
.line {
  width: 100%;
  background: #cdd1d3;
  height: 1px;
  max-width: 1140px;
  margin: auto;
}
.footer_Sec2 {
  padding: 2rem;
}
.footer_Menu > ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer_Menu > ul > li {
  list-style: none;
}
.social > ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social > ul > li {
  list-style: none;
}
.social > ul > li > a {
  color: #b0b8bb;
}

@media only screen and (min-width: 320px) {
  /********** NAV BAR RESPONSIVE CSS **********/
  .navBar {
    position: absolute;
  }
  .nav_items {
    display: block;
    padding: 5rem;
    line-height: 4rem;
    transform: translateX(-100vh);
    width: 20rem;
    height: 49rem;
    padding-bottom: 2rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .logo {
    text-align: center;
  }
  .menu {
    text-align: center;
  }
  .menu > ul {
    flex-direction: column;
    line-height: 3rem;
  }
  .buy_Button {
    height: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /********** HERO RESPONSIVE CSS **********/
  .hero_Section {
    background: #f2f5ff;
  }
  img.hero_Background {
    display: none;
  }
  .hamburger_Menu {
    display: block;
    position: absolute;
    top: 15px;
    left: 17rem;
  }
  .hero_Items {
    display: block;
  }
  .hero_Text {
    width: 100%;
    padding-top: 5rem;
    padding: 2rem;
  }
  button.btn1 {
    margin: 1rem;
  }
  button.btn2 {
    margin: 1rem;
  }
  .sec1_Items {
    display: block;
  }
  .sec1_Text {
    width: 100%;
    padding-top: 5rem;
    padding: 2rem;
  }
  img.sec1_Background {
    width: 100%;
  }
  img.sec1_Background {
    right: 0;
  }
  .section1 {
    margin-bottom: 25rem;
  }
  .section2 {
    margin-bottom: 7rem;
  }
  img.sec2_Background {
    width: 100%;
  }
  .sec2_Text {
    margin: 2rem;
  }
  .purchPlane_Text {
    width: 80%;
  }
  .footer_Sec1 {
    display: block;
    text-align: center;
  }
  .footer_Sec2 {
    display: block;
  }
  .footer_Sec1 span {
    margin-top: auto;
    margin-bottom: auto;
}
}

@media only screen and (min-width: 375px) {
  .nav_items {
    width: 24rem;
  }
  .hamburger_Menu {
    left: 20rem;
  }
  .section1 {
    margin-bottom: 28rem;
  }
}
@media only screen and (min-width: 425px) {
  .nav_items {
    width: 27rem;
}
  .hamburger_Menu {
    left: 23rem;
  }
}
@media only screen and (min-width: 768px) {
  /********** NAV BAR RESPONSIVE CSS **********/
  .navBar {
    position: unset;
  }
  .nav_items {
    display: flex;
    flex-direction: row;
    padding: 0;
    line-height: 2rem;
    transform: translateY(0vh);
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
  .logo {
    margin: auto;
    text-align: unset;
  }
  .menu {
    margin: auto;
    text-align: unset;
  }
  .menu > ul {
    flex-direction: row;
    margin-bottom: 0;
  }
  .buy_Button {
    margin: auto;
  }
  .hamburger_Menu {
    display: none;
  }
  /********** HERO RESPONSIVE CSS **********/
  .hero_Section {
    background: #f2f5ff00;
  }
  .hero_Items {
    display: flex;
  }
  .hero_Text {
    width: 65%;
    padding: 2rem;
    padding-left: 4rem;
  }
  img.hero_Background {
    display: block;
  }
  button.btn1 {
    margin-right: 1rem;
    margin-left: 0;
  }
  .hero_Section {
    background: #f2f5ff00;
    margin-bottom: 5rem;
  }
  .section1 {
    margin-bottom: 5rem;
  }
  .sec1_Items {
    display: flex;
  }
  .sec1_Text {
    width: 65%;
    padding: 2rem;
    padding-left: 4rem;
  }
  img.sec1_Background {
    width: 50%;
  }
  .sec2_Items {
    display: flex;
  }
  img.sec2_Background {
    width: 50%;
    height: 50%;
    padding-left: 4rem;
    margin: auto;
  }
  .sec2_Text p {
    width: 80%;
  }
  .footer_Sec1 {
    display: flex;
  }
  .footer_Sec2 {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1024px) {
  /********** NAV BAR RESPONSIVE CSS **********/
  /* .nav_items {
    margin-left: -5rem;
  } */
  .hero_Text {
    width: 58%;
    padding-left: 7rem;
    padding-top: 6rem;
  }

  .hero_Section {
    margin-bottom: 10rem;
  }
  .sec1_Text {
    width: 58%;
    padding-left: 7rem;
  }
  img.sec1_Background {
    right: 5rem;
  }
  img.sec1_Background {
    width: 40%;
  }
  .subDiv1 p {
    width: 22rem;
  }
  .subDiv2 p {
    width: 22rem;
  }
  img.sec2_Background {
    padding-left: 8rem;
  }
  .sec2_Items {
    gap: 2rem;
  }
  .sec2_Text p {
    width: 90%;
  }
  .purchPlane_Text {
    width: 60%;
  }
}
@media only screen and (min-width: 1366px) {
  .hero_Text {
    padding-left: 7rem;
    padding-top: 10rem;
  }
  .hero_Section {
    margin-bottom: 25rem;
  }
  .section1 {
    margin-bottom: 10rem;
  }
  .sec1_Text {
    width: 58%;
    padding-left: 7rem;
  }
  img.sec1_Background {
    right: 5rem;
  }
  .sec1_Text span {
    width: 57%;
  }
  .sec1_Text {
    width: 58%;
    padding-left: 7rem;
  }
  .sec2_Text {
    margin: auto;
  }
  .sec2_Items {
    gap: 8rem;
  }
  .purchPlane_Text {
    width: 50%;
  }
}
